<h1>Your Dashboards</h1>


<% @dashboards.each do |dashboard| %>
  <%= link_to dashboard_path(dashboard) do %>
	  <div class="span3">
      <%= dashboard.name %>
    </div>
  <% end %>
<% end %>
<a href="/dashboards/new">
	<div>
		<h2 id="add_spot">+</h2>
	</div>
</a>
