<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <h3 class="navbar-text">5:47 PM</h3>
  <p class="navbar-text">My Dashboards</p>
  <p class="navbar-text navbar-right">Danny Fenjves</p>
</nav>